<h2>prihlaska</h2>
<%= render(cart.prihlaskas) %>

<%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Sure?' %>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>